BOT1_TOKEN=replace_me
BOT2_TOKEN=replace_me
BOT1_CHANNEL_ID=-1003854171715
BOT1_DISCUSSION_CHAT_ID=-1003718571364
BOT2_CHANNEL_ID=-1003854171715
BOT2_USERNAME=Shkola6_anonchik_bot
BOT2_CHAT_INVITE=https://t.me/+N1hmM9BYc1VkZWQ1
ADMIN_ID=8627543263
RENDER_URL=https://sausha-bot.onrender.com
SAUSHA_HTTP_PORT=10000
